// Custom styles.
.hider_title{
    font-family: "Microsoft Yahei";
    cursor: pointer;
}
.close:after{
    content: "▼";
}
.open:after{
    content: "▲";
}
.fold {
	display:none;
}
.unfold{
	display:block;
}
.links-of-blogroll-item {
    float: left;
    margin: 5px 0 0;
    width: 50%;
}
.booklist-tabs{
    margin: 15px 20px;
}
.booklist-tab{
    padding: 5px 10px;
}
.booklist-tab-active{
	background-color:#f9f9f9;
}
.booklist {
	margin: 0 20px;
}
.book{
	position:relative;
	min-height:150px;
	clear:both;
	border-bottom: 1px solid gray;
}
.book-picture{
	position:absolute;
	left:0;
	top:10px;
	width:100px;
}
.book-info{
	padding-left:120px;
}
.book-title{
	font-size: 15px;
}
.book-author{
}
.book-summary{
	font-size:10px;
}
.text-center{
	text-align:center;
}
 
@font-face {
  font-family: "Monaco";
  src: url("../fonts/Monaco.ttf");
  font-weight: normal;
  font-style: normal;
}